* {
	margin: 0;
	padding: 0;
}

.container {
	width: 90%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
.notebook-parametrs__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
}

p span {
 	font-style: italic;
 	font-size: 25px;

}