*{
	margin:0;
	padding:0;
}
.wrapper{
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin:0 auto;
}
.logo{
	font-family: 'Montserrat', sans-serif;
	color:#95e1d3;
	font-size: 30px;
	font-weight: 700;
}
.mainmenu a:hover{
	color: #f38181;
	/*content:url('../img/line2.png');
	display: block;*/
}
.mainmenu a{
	position:relative;
}
.mainmenu a::before{
	position:absolute;
	content:"";
	width:100%;
	bottom:-5px;
	left:0;
	height:3px;
	background:#f38181;
	display: block;
	visibility:hidden;
	opacity:0;
	transition:0.2s linear;
}
.mainmenu .active a::before{
	visibility:visible;
	opacity:1;
	transform:translateY(10px);
}
a { 
	text-decoration: none;
	font-family: 'Montserrat', sans-serif; 
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #95e1d3;
}
 ul {
	display:flex; 
	list-style: none;
	width: 490px;
	justify-content: space-between;
}
.a_s_text{
	margin: 30px auto;
	text-align:center;
	color: #333333;
}
.we{
	font-family: 'Kaushan Script', sans-serif; 
	font-size: 24px;
	font-weight: 400;
}
.amazing{
	font-family: 'Montserrat', sans-serif; 
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.a_s_text:after{
	content:url('../img/line1.png');
	display: block;
	margin-top:10px;
}
.amazing_services{
	display: flex;
	flex-wrap: wrap;
	width: 1148px;
	margin:0 auto;
}
.services{
	width: 330px;
	display: flex;
	margin-top:105px;
}
.f{
	margin-top:5px;
	margin-left: 30px; 
}
.text{
	margin-left: 30px;
}
.signature{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif; 
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}
.signature1{
	font-family: 'Roboto', sans-serif; 
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}
.team{
	width: 1200px;
	margin:0 auto;
}
.team_text{
	margin: 30px auto;
	text-align:center;
	color: #333333;
}
.who{
	font-family: 'Kaushan Script', sans-serif; 
	font-size: 24px;
	font-weight: 400;
}
.meet{
	font-family: 'Montserrat', sans-serif; 
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.signature2{
	font-family: 'Roboto', sans-serif; 
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	text-align:center;
	margin-bottom:80px;
}
.team_text:after{
	content:url('../img/line1.png');
	display: block;
	margin-top:10px;
}
.persons{
	display: flex;
	flex-flow:row wrap;
	justify-content: space-around;
	
}
.persone{
	width: 380px;
	position: relative;
}
.persone:hover .hov{
	display:block;
}
.hov{
	position:absolute;
	width:380px;
	height:470px;
	display:none;
	text-align:center;
	top: 0;
	left: 0;
	opacity: 0.9;
	z-index: 1;
}
.hov:hover{
	cursor: pointer;
}
.f_foto::before {
	position: absolute;
    content: "";
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
    z-index: -1;
}
.f_foto .back_f::before {
    position: absolute;
    content: "";
    background: linear-gradient(to top, #fce38a, #f38181);
    width: 380px;
    height: 470px;
    opacity: 0;
    z-index: 1;
    transition: all 0.2s linear;
  }
 .f_foto .back_f .photoperson {
    width: 380px;
    height: 470px;
    transition: transform 0.2s linear;
  }
  
  .f_foto:hover .back_f::before {
    opacity: 0.9;
    transform: translate(-10px, -10px);
  }
  .f_foto:hover .photoperson {
    transform: translate(-10px, -10px);
  }
.icon_img{
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-around;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:254px;
}
.rct:hover{
    background-color:#95e1d3;
}	
.rct{
	line-height: 60px;
	width: 60px;
    height:56px;
	background-color: #fce38a;
}
.info{
	text-align:center;
	margin-bottom: 110px;
}
.name{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif; 
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	margin-top:30px;
	margin-bottom: 20px;
}
.job{
	font-family: 'Roboto', sans-serif; 
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}
.job::first-letter{	
	text-transform: uppercase;
}
.upper{
	text-transform: uppercase;
}
.colortext{
	color:#E6A8A8;
}
.foot{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin:0 auto;	
}
.email{
	color:#D7D7D7;
	font-family: 'Roboto', sans-serif; 
	font-size: 15px;
}
.text_footer{
	font-family: 'Montserrat', sans-serif; 
	font-size: 14px;
	font-weight: 400;
}
.btn{
	background-color:#AEE0D2;
	width:150px;
	height:40px;
}
.btntext{
	text-transform: uppercase;
	color:#FFFFFF;
}