.headerNav{
    width: 900px;
    margin:0 auto;
	text-align: center;
	 }  
	 .headerNav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 90px;
    width:20px;
     }
	.headerNav a {
	text-decoration: none;
	font-family: 'Playfair Display', serif;
    font-size: 14px;
     }
    [href= "PHOTODIARY"], [href= "MUSIC"], [href= "TRAVEL"]{
        color:#626262;
    }
    [href= "LIFESTYLE"]{
        color:#03a9f4;
    }
.article1{
    margin: 50px 0px 0px 200px;
    padding: 0px;
    border: 1px solid #CCC;
    width: 900px;
    vertical-align: middle;
}
.article1 div {
    display: inline-block;
	margin: 0px 10px 0px 0px;
	vertical-align: middle;
}
.text{
	margin: 20px 10px 20px 0px;
    display: inline-block;
    width: 420px;
    font-family: 'Playfair Display', serif;
	font-size: 14px;
}
.title{	
    width: 420px;
    font-family: 'Playfair Display', serif;
	font-size: 30px;
}
.signature{
    font-size: 14px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
}
 button{
    margin: 30px 10px 50px 550px;
    border: 1px solid #dddcd7;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
