.headerNav{
    width: 900px;
    margin:0 auto;
	text-align: center;
	 }  
.headerNav a:hover {
	background: #0000d0;
	color: #ffe;
}
 .headerNav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 90px;
    width:20px;
     }
.headerNav a {
	text-decoration: none;
	font-family: 'Playfair Display', serif;
    font-size: 14px;
     }
href{
        color:#626262;
    }
.article1{
    margin: 0px 0px 0px 200px;
    padding: 0px;
    border: 1px solid #CCC;
    width: 900px;
    vertical-align: middle;
}
.article1 article  {
    display: inline-block;
	vertical-align: middle;
}
.article1 article{
	width: 419px;
}
.article1 article:nth-of-type(2n+1){
	margin-right: 58px;
}
.text{
	margin: 20px 10px 20px 0px;
    display: inline-block;
    width: 420px;
    font-family: 'Playfair Display', serif;
	font-size: 14px;
}
.title{	
    width: 420px;
    font-family: 'Playfair Display', serif;
	font-size: 30px;
}
.signature{
    font-size: 14px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
}
 button{
	margin: 20px 10px 2px 550px;
    padding: 22px 34px;
    border: 1px solid #626262;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
